openapi: 3.2.0
info:
  title: Hevy Routine Folders API
  version: '1.0'
  description: 'Operations tagged RoutineFolders across 2 of this provider''s published API definitions: hevy-gpt-action-openapi.json, hevy-public-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://hevy.com
tags:
- name: RoutineFolders
paths:
  /api/v1/routine_folders:
    get:
      summary: Get a paginated list of routine folders available on the account.
      tags:
      - RoutineFolders
      operationId: get-routine-folders
      security:
      - oauth2:
        - read:routine_folders
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          default: 1
        description: Page number (Must be 1 or greater)
      - in: query
        name: pageSize
        schema:
          type: integer
          default: 5
        description: Number of items on the requested page (Max 10)
      responses:
        '200':
          description: A paginated list of routine folders
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    default: 1
                    description: Current page number
                  page_count:
                    type: integer
                    default: 5
                    description: Total number of pages
                  routine_folders:
                    type: array
                    items:
                      $ref: '#/components/schemas/RoutineFolder'
        '400':
          description: Invalid page size
    post:
      summary: Create a new routine folder. The folder will be created at index 0, and all other folders will have their indexes incremented.
      tags:
      - RoutineFolders
      operationId: post-routine-folder
      security:
      - oauth2:
        - write:routine_folders
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRoutineFolderRequestBody'
      responses:
        '201':
          description: The routine folder was successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutineFolder'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
    servers:
    - url: https://hevy.com
  /v1/routine_folders:
    get:
      summary: Get a paginated list of routine folders available on the account.
      tags:
      - RoutineFolders
      parameters:
      - in: header
        name: api-key
        schema:
          type: string
          format: uuid
        required: true
      - in: query
        name: page
        schema:
          type: integer
          default: 1
        description: Page number (Must be 1 or greater)
      - in: query
        name: pageSize
        schema:
          type: integer
          default: 5
        description: Number of items on the requested page (Max 10)
      responses:
        '200':
          description: A paginated list of routine folders
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    default: 1
                    description: Current page number
                  page_count:
                    type: integer
                    default: 5
                    description: Total number of pages
                  routine_folders:
                    type: array
                    items:
                      $ref: '#/components/schemas/RoutineFolder'
        '400':
          description: Invalid page size
    post:
      summary: Create a new routine folder. The folder will be created at index 0, and all other folders will have their indexes incremented.
      tags:
      - RoutineFolders
      parameters:
      - in: header
        name: api-key
        schema:
          type: string
          format: uuid
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRoutineFolderRequestBody'
      responses:
        '201':
          description: The routine folder was successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutineFolder'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
  /v1/routine_folders/{folderId}:
    get:
      tags:
      - RoutineFolders
      summary: Get a single routine folder by id.
      parameters:
      - in: header
        name: api-key
        schema:
          type: string
          format: uuid
        required: true
      - name: folderId
        in: path
        description: The id of the routine folder
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutineFolder'
        '404':
          description: Routine folder not found
components:
  schemas:
    RoutineFolder:
      type: object
      properties:
        id:
          type: number
          description: The routine folder ID.
          example: 42
        index:
          type: number
          description: The routine folder index. Describes the order of the folder in the list.
          example: 1
        title:
          type: string
          description: The routine folder title.
          example: Push Pull 🏋️‍♂️
        updated_at:
          type: string
          description: ISO 8601 timestamp of when the folder was last updated.
          example: '2021-09-14T12:00:00Z'
        created_at:
          type: string
          description: ISO 8601 timestamp of when the folder was created.
          example: '2021-09-14T12:00:00Z'
    PostRoutineFolderRequestBody:
      type: object
      properties:
        routine_folder:
          type: object
          properties:
            title:
              type: string
              description: The title of the routine folder.
              example: Push Pull 🏋️‍♂️
x-refined-from:
- hevy-gpt-action-openapi.json
- hevy-public-api-openapi.json
